.dropdown{

    .dropdown-content{
        position: relative;
    }

    .dropdown-input-container{
        display:inline-flex;

        input{
            padding: 10px;
            min-width: 210px;
            padding-right: 60px;
            margin-right: -58px;
        }
    
        .input-button{
            padding: 8px;
        }
    }

    .collapsible{
        position: absolute;
        z-index: 20;
        background: white;
        width: 284px;
        border: 1px solid black;
        box-sizing: border-box;
        border-top: 0;
        user-select: none;
    }

    .dropdown-item:hover{
        background-color: lightblue;
        cursor: pointer;
    }
}